.container {
    margin: 35px;
    .cards {
        width: 60%;
        margin: auto;
        .card {
            margin: 10rem;
        }
    }
    .result {
        text-align: center;
        font-size: 25px;
    }
}