@use "sass:map";
@use "@angular/material" as mat;

$primary-palette: mat.define-palette(mat.$indigo-palette, 500);
$accent-palette: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$light-accent-color: mat.get-color-from-palette($accent-palette, 300);
$light-grey: mat.get-color-from-palette(
    mat.define-palette(mat.$grey-palette, 200)
);
$error: #f44336;
$success: #4caf50;