@import "../../_variables";

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .option {
        font-size: 18px;
        line-height: 20px;
        padding: 10px;
        width: 60%;
        text-align: center;
        border: 1px solid $light-grey;
        border-radius: 30px;
        cursor: pointer;
        
        
        &:hover {
            background-color: $light-grey;
        }
        &.selected {
            color: $light-accent-color;
        }
        &.correct {
            border: 1px solid $success;
        }
    }
}

